<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Binger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Binger.Properties.Settings>
            <setting name="FolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoDownload" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoDownloadInterval" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="EnableSlideshow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SlideShowInterval" serializeAs="String">
                <value>5 Seconds</value>
            </setting>
            <setting name="ExitToTray" serializeAs="String">
                <value>False</value>
            </setting>
        </Binger.Properties.Settings>
    </userSettings>
</configuration>